In [1]:
import sqlite3
con = sqlite3.connect("week3.sqlite", isolation_level=None)
cur = con.cursor()

In [2]:
cur.execute("""DROP TABLE IF EXISTS movies""")

In [3]:
q = """
CREATE TABLE IF NOT EXISTS movies (
    id INTEGER PRIMARY KEY,
    title TEXT,
    year INTEGER,
    rating FLOAT,
    is_watched BOOLEAN DEFAULT 0,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP
)
"""
cur.execute(q)

In [4]:
# Check if the table is created
res = cur.execute("SELECT name FROM sqlite_master")

In [7]:
cur.execute(q, ("Forrest Gump", 1994, 3.5))

In [8]:
[x for x in cur.execute("""SELECT * FROM movies""")]

[(1, 'The Matrix', 1999, 5.0, 0, '2024-02-01 22:49:02'),
 (2, 'Forrest Gump', 1994, 3.5, 0, '2024-02-01 22:49:12')]

In [10]:
for row in cur.execute("SELECT year, title FROM movies ORDER BY year"):
    print(row)

(1979, "Monty Python's Life of Brian")
(1982, 'Monty Python Live at the Hollywood Bowl')
(1983, "Monty Python's The Meaning of Life")
(1994, 'Forrest Gump')
(1999, 'The Matrix')